.skills {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
  margin-top: 40px;
  margin-bottom: 20px;
}

.skills__container {
  display: flex;
  gap: 20px;
  width: 100%;
  margin-top: 20px;
}

.skills__content {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  height: auto;
  padding: 10px;
  border-radius: 10px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.container__skill {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  align-items: center;
  justify-content: center;
  padding: 5px 0 15px;
}

.skill__title {
  margin: 15px 0 10px;
  font-size: var(--h3-font-size);
  color: var(--title-color);
}

.hr__skill {
  width: 100px;
  margin: 0 auto 20px;
  border: 1px solid var(--title-color);
  border-radius: 5px;
}

.icon__skill__container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  border: 2px solid var(--text-color);
  padding: 3px 8px;
  border-radius: 0 15px 0 15px;
  animation: icon_animate 2s ease-in-out infinite 1s;
}

@keyframes icon_animate {
  0% {
    border-radius: 0 15px 0 15px;
  }
  50% {
    border-radius: 0 8px 0 8px;
  }
  100% {
    border-radius: 0 15px 0 15px;
  }
}

.icon__skill__container i {
  font-size: 1.8rem;
}

.icon__skill__container span {
  font-size: var(--small-font-size);
  font-weight: var(--font-semi-bold);
  color: var(--title-color-dark);
}

.icon__skill__container img {
  width: 30px;
  height: 30px;
}

.circles {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.circles li {
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: rgba(78, 78, 78, 0.2);
  animation: animate 25s linear infinite;
  bottom: -150px;
}

.circles li:nth-child(1) {
  left: 25%;
  width: 40px;
  height: 40px;
  animation-delay: 0s;
}

.circles li:nth-child(2) {
  left: 10%;
  width: 20px;
  height: 20px;
  animation-delay: 2s;
  animation-duration: 12s;
}

.circles li:nth-child(3) {
  left: 70%;
  width: 20px;
  height: 20px;
  animation-delay: 4s;
}

.circles li:nth-child(4) {
  left: 40%;
  width: 50px;
  height: 50px;
  animation-delay: 0s;
  animation-duration: 10s;
}

.circles li:nth-child(5) {
  left: 65%;
  width: 20px;
  height: 20px;
  animation-delay: 0s;
}

.circles li:nth-child(6) {
  left: 75%;
  width: 80px;
  height: 80px;
  animation-delay: 3s;
}

.circles li:nth-child(7) {
  left: 35%;
  width: 90px;
  height: 90px;
  animation-delay: 7s;
}

.circles li:nth-child(8) {
  left: 50%;
  width: 25px;
  height: 25px;
  animation-delay: 15s;
  animation-duration: 25s;
}

.circles li:nth-child(9) {
  left: 20%;
  width: 15px;
  height: 15px;
  animation-delay: 2s;
  animation-duration: 15s;
}

.circles li:nth-child(10) {
  left: 85%;
  width: 100px;
  height: 100px;
  animation-delay: 0s;
  animation-duration: 11s;
}

@keyframes animate {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
    border-radius: 0;
  }

  100% {
    transform: translateY(-1000px) rotate(720deg);
    opacity: 0;
    border-radius: 50%;
  }
}

@media screen and (max-width: 768px) {
  .skills__container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
  }
}
