.about {
  display: grid;
  text-align: center;
  padding-top: 100px;
}

.about__container {
  display: grid;
  grid-template-columns: 100%;
  gap: 1%;
  align-items: center;
  justify-content: center;
}

.title__about {
  display: flex;
  align-items: center;
  position: absolute;
  left: 0;
  bottom: 0;
  font-size: 15px;
  font-weight: 700;
  line-height: 1.2;
  white-space: nowrap;
  transform: translate(-10%, -50%);
  transition: transform 300ms cubic-bezier(0.25, 1, 0.5, 1);
  pointer-events: none;
  opacity: 0;
}

.title__about::after {
  content: attr(data-cta);
  display: inline-block;
  margin-left: 15px;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 2px;
  opacity: 1;
  transform: translateX(-25%);
  transition: transform 300ms cubic-bezier(0.25, 1, 0.5, 1),
    opacity 300ms cubic-bezier(0.25, 1, 0.5, 1);
}

.about__data {
  display: grid;
  grid-template-columns: 82% 13%;
  gap: 5%;
}

.description__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 20px 0;
}

.about__description {
  text-align: justify;
  color: var(--text-color);
  font-size: 16px;
}

.info__container {
  display: none;
}

.button {
  align-self: center;
  margin-top: 5px;
}

@media screen and (max-width: 768px) {
  .about__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .img__box {
    display: none;
  }

  .about__data {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
  }

  .about__description {
    text-align: justify;
    font-size: 14px;
  }

  .button {
    align-self: center;
    margin-top: 20px;
  }
}

@media screen and (max-width: 350px) {
  .description__container {
    padding: 20px 5px;
  }

  .about__description {
    font-size: 14px;
  }

  .about__description {
    font-size: 13px;
  }
}
