.about {
  display: grid;
  text-align: center;
  gap: 60px;
  padding-top: 50px;
}

.about__container {
  display: grid;
  grid-template-columns: 31% 68%;
  gap: 1%;
  align-items: center;
  justify-content: center;
}

.img__box {
  position: relative;
  cursor: pointer;
  width: 100%;
  height: auto;
  overflow: hidden;
}

.title__about {
  display: flex;
  align-items: center;
  position: absolute;
  left: 0;
  bottom: 0;
  font-size: 15px;
  font-weight: 700;
  line-height: 1.2;
  white-space: nowrap;
  transform: translate(-10%, -50%);
  transition: transform 300ms cubic-bezier(0.25, 1, 0.5, 1);
  pointer-events: none;
  opacity: 0;
}

.title__about::after {
  content: attr(data-cta);
  display: inline-block;
  margin-left: 15px;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 2px;
  opacity: 1;
  transform: translateX(-25%);
  transition: transform 300ms cubic-bezier(0.25, 1, 0.5, 1),
    opacity 300ms cubic-bezier(0.25, 1, 0.5, 1);
}

.about__img__container {
  width: 240px;
  height: 240px;
  overflow: hidden;
  clip-path: polygon(100% 0, 100% 50%, 100% 100%, 0% 100%, 0 50%, 0% 0%);
  transition: transform 300ms cubic-bezier(0.25, 1, 0.5, 1),
    clip-path 300ms cubic-bezier(0.25, 1, 0.5, 1);
}

.about__img {
  position: relative;
  width: 120%;
  height: 100%;
  object-fit: cover;
  transform: translateX(-10%);
  transition: transform 300ms cubic-bezier(0.25, 1, 0.5, 1);
}

.about__img__container::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.338);
  mix-blend-mode: multiply;
  opacity: 0;
  transform: translateZ(0);
  transition: opacity 300ms cubic-bezier(0.25, 1, 0.5, 1);
}

.img__box:hover .about__img {
  transform: translateX(0);
}

.img__box:hover .about__img__container {
  clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%);
  transform: translateX(25%);
  transition-timing-function: cubic-bezier(0.34, 1.56, 0.64, 1);
}

.img__box:hover .title__about {
  transform: translate(5%, -50%);
  opacity: 1;
  transition-timing-function: cubic-bezier(0.34, 1.56, 0.64, 1);
}

.img__box:hover .title__about::after {
  opacity: 1;
  background: var(--title-color);
  color: var(--container-color);
  padding: 10px 12px;
  transform: translateX(0);
  transition-timing-function: cubic-bezier(0.34, 1.56, 0.64, 1);
}

.img__box:hover .about__img__container::after {
  opacity: 1;
}

.about__data {
  display: grid;
  grid-template-columns: 79% 20%;
  gap: 1%;
}

.description__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 20px 0;
}

.about__description {
  text-align: justify;
  font-size: 16px;
}

.iconDownload {
  font-size: 20px;
}

.info__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.button {
  align-self: flex-start;
  margin-top: 5px;
}
