.infos__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.info__box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3px;
  border: 1px solid hsla(0, 0%, 69%, 0.489);
  width: 100%;
  padding: 5px 15px;
  border-radius: 4px;
}

.info__box i {
  font-size: 40px;
  color: var(--text-color);
}

.info__box .info__title {
  font-size: var(--small-font-size);
  font-weight: var(--font-medium);
}

.info__box .section__subtitle {
  font-size: var(--tiny-font-size);
}

@media screen and (max-width: 768px) {
  .infos__container {
    display: grid;
    grid-template-columns: 45% 45%;
    gap: 10%;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  .info__box i {
    font-size: 40px;
  }

  .info__box .info__title {
    font-size: 1rem;
    font-weight: var(--font-medium);
  }

  .info__box .section__subtitle {
    font-size: var(--smaller-font-size);
  }
}

@media screen and (max-width: 350px) {
  .infos__container {
    grid-template-columns: 40% 40%;
    gap: 5%;
  }

  .info__box i {
    font-size: 30px;
  }

  .info__box .info__title {
    font-size: 0.75rem;
  }

  .info__box .section__subtitle {
    font-size: var(--tiny-font-size);
  }
}
